- @user ||= current_user
.stats
  %p
    %a{:href => following_user_path(@user)}
      %span#following.stat
        = @user.following.count
        following
  %p
    %a{:href => followers_user_path(@user)}
      %span#followers.stat
        = pluralize(@user.followers.count, "follower")