/**
 * status.scss
 */

/* statuses */
h1.status {
  text-align: center;
  color: #ff4b33;
  margin-bottom: 0.3em;
}

table.statuses {
  margin-top: 1em;
}

ul.field.status {
  display: table;
  margin: 0 auto;
}

ul.field.status > li {
  display: inline;
}

ul.field.status label {
  display: inline;
}