<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Statuses: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <style>
nav {
  font-size: 300%;
}

.star {
  font-size: 300%;
}
#busy {
  color: red;
}
#maybe {
  color: yellow;
}
#open {
  color: green;
}
#maybe.inactive, #open.inactive, #busy.inactive {
  color: #ccc;
}

#busy:hover {
  color: red;
}
#maybe:hover {
  color: yellow;
}
#open:hover {
  color: green;
}

</style>
  
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<nav>
  &#10025; |
  &#10026; |
  &#10027; |
  &#10028; |
  &#10029; |
  &#10030; |
  &#10031; |
  &#10032; |
  &#9733;  |
  &#9734;
</nav>

<%= yield %>

</body>
</html>
